.last-projects-slider {
  .swiper-slide {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .swiper-slide-active, .swiper-slide-next, .swiper-slide-prev {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--wp--preset--color--rose) !important;
  }
}

