.entry-content > .alignwide {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.entry-content > .alignfull {
  max-width: 100vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.entry-content > *:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.alignleft {
  max-width: calc(1280px / 2);
  margin-left: calc((100% - 1280px) / 2);
}

.alignright {
  max-width: calc(1024px / 2);
  margin-right: calc((100% - 1280px) / 2);
}